* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.auth-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
}

.auth-main h2{
    font-size: 2.4rem;
    font-family: "Allison";
    font-weight: 600;
    color: orangered;
    text-align: center;
}

.form-container{
    width: 100%;
    max-width: 400px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 1.5rem;
    margin: 1.5rem;
}

.form-container h2{
    font-size: 1.6rem;
    font-family: "Roboto";
    color: #121212;
    margin-bottom: 1.5rem;
    text-align: center;
}

.form-container .field-content{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.form-container .field-content label{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.form-container .field-content input{
    font-size: 1rem;
    padding: 0.6rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline-color: rgba(0, 128, 128, 0.377);
}

.form-container .btn-submit-login, .btn-submit-signup, .btn-submit-address{
    margin: 1.5rem 0;
    width: 100%;
    height: 40px;
    border: none;
    background: orangered;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

.form-container .form-politique{
    margin: 1rem 0;
    text-align: center;
}

.form-container .form-politique p{
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.form-container .exist-compte p,
.form-container .forget-compte a {
    font-size: 0.9rem;
    color: orangered;
    text-align: center;
    display: block;
    margin: 1rem 0;
}

.form-container .exist-compte p a:hover,
.form-container .forget-compte a:hover {
    font-weight: 600;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .auth-main {
        padding: 1rem;
    }

    .auth-main h2 {
        font-size: 2rem;
    }

    .form-container {
        width: 90%;
        padding: 1rem;
    }

    .form-container h2 {
        font-size: 1.4rem;
    }

    .form-container .btn-submit {
        font-size: 0.9rem;
        height: 35px;
    }

    .form-container .form-politique p,
    .form-container .exist-compte p {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .auth-main h2 {
        font-size: 1.8rem;
    }

    .form-container {
        width: 100%;
        padding: 0.8rem;
    }

    .form-container h2 {
        font-size: 1.3rem;
    }

    .form-container .btn-submit {
        font-size: 0.8rem;
        height: 30px;
    }
}
