/* Conteneur Profil et Panier par défaut (cachés) */
.cart-container {
    overflow-y: scroll;
    background: #ffffff;
    opacity: 0;
    transform: translateY(-20px); 
    transition: opacity 0.4s ease, transform 0.4s ease; 
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #f0f1f5;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: 0px;
    width: 310px;
    height: 90vh;
    z-index: 10;
    scroll-behavior: smooth;
    will-change: opacity, transform;
}


.cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 1rem;
    border-bottom: 1px solid #f0f1f5;
}

.close-cart {
    font-size: 1rem;
    cursor: pointer;
}

.close-cart:hover {
    color: rgb(36, 36, 36);
}

.total-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.total-title{
    display: flex;
   
    flex-direction: column;
}

.total-title h2 {
    font-size: 0.8rem;
    font-family: "Roboto";
}

.total-title p {
    font-size: 0.8rem;
    font-family: "Roboto";
}

.cart-items {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0.2rem;
}

.card-cart {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100px;
    background: #f0f1f5;
    border-radius: 8px;
}

.card-cart img {
    width: 50px;
    height: 50px;
    margin: 0.5rem;
}

.card-cart-info {
    max-width: 150px;
    display: flex;
    flex-direction: column;
}

.card-cart-info h2 {
    font-size: 1rem;
    font-family: "Roboto";
    margin: 0;
}

.card-cart-info p {
    font-size: 1rem;
    font-family: "Roboto";
    margin: 0.5rem 0 0;
    color: orangered;
}
.qty{
    color: orangered;
}
.card-cart-btn{
    width: 100px;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-minus , .btn-plus{
    width: 20px;
    border: 1px solid #121212;
    cursor: pointer;
}

.btn-remove-cart{
    border: none;
    cursor: pointer;
}

.btn-remove-cart:hover{
    color: orangered;
}

.btn-address{
    padding: 1rem;
    width: 100%;
    border: none;
    background-color: orangered;
    color: #f0f1f5;
    font-family: "Roboto";
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
}

/* Réduction de la largeur pour les petits écrans */
@media (max-width: 768px) {
    .cart-container {
        right: 20px;
        width: 90%;
        height: 90vh;
    }
}
