* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    background-color: #ffff;
    margin: 0;
    padding: 0;
    font-family: "Montserrat","Roboto";
}


/* Main Product Detail Section */
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.detail-container{
    width: 100%;
}
.product-detail {
    margin-top: 130px;
    display: flex;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}


/* Product Images */
.product-images {
    flex: 1;
    margin: 20px;
}

.product-images #main-image {
    width: 100%;
    height: 50vh;
    border-radius: 10px;
}

.image-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    border: 2px solid #202020;
    border-radius: 20px;
}

.image-gallery .thumbnail {
    width: 70px;
    height: 70px;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.image-gallery .thumbnail:hover {
    border: 2px solid #e74c3c;
}

/* Product Info */
.product-info {
    flex: 2;
}

.product-info h2 {
    font-size: 1em;
    margin-bottom: 10px;
}

.price {
    font-size: 1.5em;
    color: #e74c3c;
    margin-bottom: 10px;
}

/* .rating {
    color: #f39c12;
    margin-bottom: 20px;
} */

.description {
    font-size: 1.2rem;
    width: 50%;
    margin-bottom: 20px;
}

.product-options {
    margin-bottom: 20px;
}

.product-options label {
    margin-right: 10px;
}

#add-to-cart {
    background-color: orangered;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

#add-to-cart:hover {
    background-color: rgba(255, 68, 0, 0.788);
}

.produits-lies, .marques-lies{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-bottom:1px solid #f0f1f5 ;
}

.produits-items-lies{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    
}

.produits-items-lies .product-card {
    height: 300px;
    margin: 0.8rem;
    border-radius: 5px;
    width: 200px;
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    padding: 1rem;
    
}


.produits-items-lies .product-card img {
    width: 100%;
    height: 20vh;
    border-radius: 10px;
    background-color: #f0f1f5;
}

.produits-items-lies .product-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.produits-items-lies .product-card p.price {
    font-size: 1.5em;
    color: #e74c3c;
}

.produits-items-lies .product-card p.rating {
    color: #f39c12;
}

.marques-lies h2, .produits-lies h2{
    font-family: "Montserrat";
    font-size: 1.1rem;
}

.marques-items-lies{
    display: flex;
    flex-wrap: wrap;
}

.marques-items-lies .product-card {
    width: 200px;
    height: 200px;
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f0f1f5;
}


.marques-items-lies .product-card img {
    width: 100%;
    height: 20vh;
    border-radius: 10px;
    background-color: #f0f1f5;
}

.star {
    font-size: 2rem;
    cursor: pointer;
    color: gray;
  }
  .star.selected {
    color: gold;
  }

  .product-info .rating .star {
    cursor: pointer;
    font-size: 24px; /* Taille des étoiles */
    color: lightgray; /* Couleur par défaut */
}

.product-info .rating .star.filled,
.star.selected {
    color: gold; /* Couleur des étoiles remplies */
}


/* Footer Styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: #202020;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    color: #fff;
}

footer p {
    margin: 5px 0;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .product-detail {
        width: 100%;
        flex-direction: column;
    }

    .product-images {
        margin-bottom: 20px;
    }

    .product-images #main-image {
        width: 100%;
        height: 25vh;
        border-radius: 10px;
    }

    .image-gallery {
        align-items: center;
        justify-content: center;
        border: none;
    }

    .description {
        font-size: 0.8rem;
        width: 100%;
    }

    .produits-lies , .marques-lies{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .produits-lies h2, .marques-lies h2{
        font-size: 0.9rem;
        margin: 0.2rem;
    }

    .produits-items-lies,.marques-items-lies{
        /* margin: 1rem; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }

    
    .produits-items-lies .product-card{
        width: 100%;
        height: 80%;
    } 

    .produits-items-lies .product-card img{
        width: 100%;
        height: 15vh;
    }

    .produits-items-lies .product-card h2 {
        font-size: 0.8em;
        margin: 10px 0;
    }

    .marques-items-lies .product-card {
        width: 100%;
        height: 100%;
        /* margin: 1rem; */
    } 

    .marques-items-lies .product-card img{
        width: 100%;
        height: 15vh;
    }

}
